#head {color:green;text-align: center;}
body{background:linear-gradient(red,orange,yellow);text-align: center;}
img{display:block;margin: auto;}
.subheading{text-align:center;color:orange}
.paragraph{text-align: center;color:turquoise }
